body, html {
    height: 100%;
    margin: 0px;
}

/********************
  Three Boxes Demo
*********************/

#me{
    width:20px;
    height: 20px;
    background-color: purple;
    z-index: 1;
    position:fixed;
    bottom: 20;
    left: 20;
}






/*************
  The Banner 
**************/
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Cherry\ banner.jpeg");

  /* Set a specific height */
  height: 500px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
  color: white;
  text-shadow: 2px 2px #000000;
}

@media (max-width: 550px) {
    .hero-image {
        height: 300px; 
    }
    .hero-text {
        top: 10%;
    }
}


/*****************
The Navigation Bar 
******************/

#navigation {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

#navigation>li {
float: left;
}

.float-right{
    float: right !important;
}

#navigation>li  a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation>li  a:hover {
background-color: #111;
}

/*****************
     Main Body 
******************/

#main{
    margin: 10px 10%;
}

.section-title{
    text-align: center;
    text-decoration: underline;
}
  
.text-center{
    text-align: center;
}

/*****************
    Work Cards
******************/

.card-project {
    margin: 2% 5%;
    padding: 8px;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 20%);
    max-width: 750px;
    border: 5px solid white;
    width: 40%;
    padding: 10%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: left;
}

.card-project-description{
    position: absolute;
    top: 10px;
    left: 10px;
    /* display: none; */
}


.card-project-description h4{
    margin-top: 0px;
    margin-bottom: 2px;
    color:white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.card-project-description p{
    display: none;
}


#RTC-Image{
    background-image: url("images/RTC.jpeg");
}

#MS-Image{
    background-image: url("images/Aspire\ Talk.jpeg");
}

#SSRC-Image{
    background-image: url("images/SSRC.jpeg");
}

#UCSC-Image{
    background-image: url("images/BaskinTA.jpeg");
}

#Sandia-Image{
    background-image: url("images/Sandia.png");
}

#LMG-Image{
    background-image: url("images/LMG.jpeg");
}

#GA-Image{
    background-image: url("images/GA.jpeg");
    margin-bottom: 10px;
}

.bottom-card{
    margin: 0% 30%;
}

.card-project:hover {
    background-image: none !important;
    background-color:#ebf5ff !important;
}

.card-project:hover .card-project-description h4{
    text-shadow: none;
    color: black;
}


.card-project:hover .card-project-description p{
    display: inline;
    word-wrap: break-word;
}

@media (max-width: 1100px) {
    .card-project {
        margin: 5% 10%;
        width: 80%;
        padding: 20%;
        float: center;
    }
    .bottom-card{
        margin: 5% 10%;
    }
}

@media (max-width: 550px) {
    .card-project:hover .card-project-description p.too-long-550{
        display: none;
    }
    .card-project:hover .card-project-description p.short-550{
        display: inline;
    }
}

@media (min-width: 551px) {
    .card-project:hover .card-project-description p.too-long-550{
        display: inline;
    }
    .card-project:hover .card-project-description p.short-550{
        display: none;
    }
}


/*****************
  Research Cards
******************/

#Quantum-Image{
    background-image: url("images/Quantum.jpg");
}

#Coin-Image{
    background-image: url("images/Coin.jpeg");
}

#MCSP-Image{
    background-image: url("images/MCSP.png");
}

#NVM-Image{
    background-image: url("images/NVM.png");
}

#Hash-Image{
    background-image: url("images/epicyle.jpeg");
}

#Facial-Image{
    background-image: url("images/Facial.jpeg");
}


.home-profile {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    border-radius: 8px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .research{
        padding: 30%; 
    }
}

/*****************
      About
******************/

.p-3{
    width: 100%;
    min-height: 250px;
}

/*****************
  Contact & Footer
******************/

.footer{
    background-color: #ebf5ff;
    padding: 10px;
}

/* .fa {
    -webkit-font-smoothing: antialiased;
    display: flex;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Brands';
    height: 20px;
}

.social-media-icons{
    list-style: none;
}

.icon-link{
    margin: 0 10%;
    display: inline;
}

.icon{
    position: relative;
    float: center;
} */